﻿@model Novo.Models.Entity.NewTasks
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Task Details";
}

<h3 class="text-center text-info">Task-Information</h3>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="TaskName"></label>
            </div>
            <div class="col-8">
                <input asp-for="TaskName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="TaskType"></label>
            </div>
            <div class="col-8">
                <input asp-for="TaskType" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="TaskDescription"></label>
            </div>
            <div class="col-8">
                
                    
                    <textarea asp-for="TaskDescription" id="TaskDescription" class="form-control" rows="3" readonly></textarea>
 
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AssignBy"></label>
            </div>
            <div class="col-8">
                <input asp-for="AssignBy" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ExpectedStartDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="ExpectedStartDate" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ExpectedEndDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="ExpectedEndDate" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Comment"></label>
            </div>
            <div class="col-8">
                <input asp-for="Comment" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Remark"></label>
            </div>
            <div class="col-8">
                <input asp-for="Remark" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Status"></label>
            </div>
            <div class="col-8">
                <input asp-for="Status" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AssignToId"></label>
            </div>
            <div class="col-8">
                <input asp-for="ApplicationUser.UserName" readonly class="form-control" />
            </div>
        </div>



    </div>



    <br />
    <div class="form-group">
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("User") && !(User.IsInRole("UnitHead")) && !(User.IsInRole("HR")))
                {
        <a asp-action="index" asp-controller="Tasks" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>}


                @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
                {
        <a asp-action="TAskHR" asp-controller="Tasks" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>}

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                {
        <a asp-action="TAskUHead" asp-controller="Tasks" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>}
       

    </div>
</div>




