﻿@model Novo.Models.Entity.Leaves

@{ ViewData["Title"] = "Edit";
                Layout = null; }

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ ViewData["Title"] = "Create";
                var user = await UserManager.GetUserAsync(User); }
<link href="~/lib/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="~/css/jquery.timepicker.css" rel="stylesheet" />

<!--external css-->
<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/css/zabuto_calendar.css">
<link rel="stylesheet" type="text/css" href="~/lib/gritter/css/jquery.gritter.css">


<div class="col-md-10 m-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Leave List</a></li>
                    @*<li class="breadcrumb-item active" aria-current="page">Edit Leave</li>*@
                </ol>
            </nav>
            <form method="post" asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this)" autocomplete="off">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @{ var total = @ViewBag.CurrentLeaves + @ViewBag.OutstandingLeaves;
                                var remain = total - @ViewBag.Utilized; }
                <h5>Email Address: @ViewBag.ToEmail</h5>
                <h5>Email Address: @ViewBag.FromEmail   </h5>

                <h5>Number of Current Leaves: @ViewBag.CurrentLeaves</h5>
                <h5>Number of Outstanding Leaves: @ViewBag.OutstandingLeaves</h5>
                <h5>Leaves Utilized: @ViewBag.Utilized</h5>
                <h5>Total Number of Leaves: @total</h5>
                <h5>Remaining Leaves: @remain</h5>
                <div class="form-group">
                    <label asp-for="LeaveRemaining" class="control-label"></label>
                    <input asp-for="LeaveRemaining" value="@remain" readonly class="form-control" />
                    <span asp-validation-for="LeaveRemaining" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalLeave" class="control-label"></label>
                    <input asp-for="TotalLeave" value="@total" readonly class="form-control" />
                    <span asp-validation-for="TotalLeave" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" type="text" id="TxtFrom" class="form-control" value="@DateTime.Now" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" type="text" id="TxtTo" class="form-control enddate" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="EmployeeEmail" class="control-label"></label>
                    <input asp-for="EmployeeEmail" value="@user.Email" class="form-control" />
                    <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="EmployeeId" class="control-label"></label>
                    <input asp-for="EmployeeId" value="@user.Id" class="form-control" />
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeaveTypeId" class="control-label"></label>
                    <select asp-for="LeaveTypeId" class="form-control leavetype" asp-items="ViewBag.LeaveTypeId">
                        <option selected>Select Leave Type</option>
                    </select>

                </div>
                <div class="form-group">
                    <label asp-for="Purpose" class="control-label"></label>
                    <textarea asp-for="Purpose" class="form-control purpose"></textarea>
                    <span asp-validation-for="Purpose" class="text-danger"></span>
                </div>

                <div class="form-group" hidden>
                    <label asp-for="UnitsId" class="control-label"></label>
                    <select asp-for="UnitsId" class="form-control" asp-items="ViewBag.UnitsId">
                        <option selected value="@user.UnitsId"></option>
                    </select>

                </div>

                @*<div class="form-group">
                        <label asp-for="HandOver" class="control-label"></label>
                        <textarea asp-for="HandOver" class="form-control"></textarea>
                        <span asp-validation-for="HandOver" class="text-danger"></span>
                    </div>*@

                <div class="form-group" hidden>
                    <label asp-for="AddedBy" class="control-label"></label>
                    <input asp-for="AddedBy" value="@user.Email" class="form-control" />
                    <span asp-validation-for="AddedBy" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input asp-for="UpdatedBy" class="form-control" />
                    <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CreateDate" class="control-label"></label>
                    <input asp-for="CreateDate" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="UpdateDate" class="control-label"></label>
                    <input asp-for="UpdateDate" class="form-control" />
                    <span asp-validation-for="UpdateDate" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                        </label>
                    </div>
                </div>


                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="EmployeeEmail" class="control-label"></label>
                        <input asp-for="EmployeeEmail" class="form-control" />
                        <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LeaveTypeId" class="control-label"></label>
                        <select asp-for="LeaveTypeId" class="form-control" asp-items="ViewBag.LeaveTypeId"></select>
                        <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Purpose" class="control-label"></label>
                        <textarea asp-for="Purpose" class="form-control"></textarea>
                        <span asp-validation-for="Purpose" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="UnitsId" class="control-label"></label>
                        <select asp-for="UnitsId" class="form-control" asp-items="ViewBag.UnitsId">
                            <option selected value="@user.UnitsId"></option>
                        </select>
                    </div>

                    <input type="hidden" asp-for="Id" />
                    <div class="form-group" hidden>
                        <label asp-for="AddedBy" class="control-label"></label>
                        <input asp-for="AddedBy" class="form-control" />
                        <span asp-validation-for="AddedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="UpdatedBy" class="control-label"></label>
                        <input asp-for="UpdatedBy" class="form-control" />
                        <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="CreateDate" class="control-label"></label>
                        <input asp-for="CreateDate" class="form-control" />
                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="UpdateDate" class="control-label"></label>
                        <input asp-for="UpdateDate" class="form-control" />
                        <span asp-validation-for="UpdateDate" class="text-danger"></span>
                    </div>*@

                <div class="form-row">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                    {
        <div class="form-group col-md-5">
            <div class="checkbox">
                <label>
                    <input asp-for="isUnitHeadApproved" />
                    <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                        <span class="text-white">Approve</span>
                    </a>
                </label>

            </div>
        </div>}
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                    {
        <div class="form-group col-md-5">
            <div class="checkbox">
                <label>
                    <input asp-for="isUnitHeadDisapprove" />
                    <a asp-for="isUnitHeadDisapprove" class="btn btn-sm btn-rounded btn-danger">
                        <span class="text-white">Disapprove</span>
                    </a>
                </label>
            </div>
        </div>}
                </div>

                <div class="form-row">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
                    {
        <div class="form-group col-md-5">
            <div class="checkbox">
                <label>
                    <input asp-for="isHrApproved" />
                    <a asp-for="isHrApproved" class="btn btn-sm btn-rounded btn-primary">
                        <span class="text-white">Approve</span>
                    </a>
                </label>
            </div>
        </div>}

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
                    {
        <div class="form-group col-md-5">
            <div class="checkbox">
                <label>
                    <input asp-for="isHrDisapprove" />
                    <a asp-for="isHrDisapprove" class="btn btn-sm btn-rounded btn-danger">
                        <span class="text-white">Disapprove</span>
                    </a>
                </label>
            </div>
        </div>}
                </div>




                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Submit</button>
                    <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />
                    <br />


                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="~/js/jquery.timepicker.js"></script>
    <script src="~/js/jquery.timepicker.js"></script>
    <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.9/datepicker.min.js" integrity="sha512-Hkemjwczq2iepz/dVjaZ/Xd+agLwV7Od5nQ+R74m4E8ruIblnDAJOewx2+xT4TQ+Q9Q2bcMHFD/d70RzVjrWVw==" crossorigin="anonymous"></script>


    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


    <!-- JS, Popper.js, and jQuery -->
    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>*@


    <script>$(function () {
            $("#TxtFrom").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() + 1)
                    $("#TxtTo").datepicker("option", "minDate", dt)
                }
            });


            $("#TxtTo").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() - 1)
                    $("#TxtFrom").datepicker("option", "maxDate", dt)
                }
            });
        });</script>

    <script>$('.valdata').click(function () {
            var purpose = $('.purpose').val();
            var leavetype = $('.leavetype').val();
            var enddate = $('.leavetype').val();

            if (enddate == "") {
                swal("Leave Type can't be empty");
                return false;
            }

            if (leavetype == "") {
                swal("Leave Type can't be empty");
                return false;
            }

            if (purpose == "") {
                swal("Purpose can't be empty");
                return false;
            }

        })</script>

    <script src="~/js/site.js"></script>

}