﻿@model IEnumerable<Novo.Models.Entity.Leaves>
@using Novo.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ ViewData["Title"] = "Staff List";
                var user = await UserManager.GetUserAsync(User); }


<div class="row m-auto">
    <div class="col-md-10 m-auto grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Leave List</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        @*<br />
                            <br />*@
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Leave Purpose</th>
                                    <th>Unit Head</th>
                                    <th>HR</th>
                                    <th>Status</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                    <tr>
                        <td>@item.EmployeeEmail</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.Purpose</td>
                        <td>
                            @if (item.isUnitHeadDisapprove == true)
                            {
            <p>Disapproved</p> }
                            else if (item.isUnitHeadApproved == true && item.isUnitHeadDisapprove == false)
                            {
            <p>Approved</p> }
                            else
                            {
            <p>Awaiting Approval</p>}
                            @*@if (item.isUnitHeadApproved == false)
                                {
                                    <p>Not Approved</p>
                                }
                                else
                                {
                                    <p>Approved</p>
                                }*@
                        </td>
                        <td>
                            @if (item.isUnitHeadDisapprove == true)
                            {
            <p>Unit Head Disapproved</p> }
                            else if (item.isHrApproved == false)
                            {
            <p>Not Approved</p> }
                            else
                            {
            <p>Approved</p>}
                        </td>
                        <td>
                            @if (item.isUnitHeadApproved == true && item.isHrApproved == true)
                            {
            <p>Approved</p> }
                            else //if (item.isHrDisapprove == false && item.isUnitHeadDisapprove == false)
                            {
            <p>Disapproved</p>}
                            @*@if (item.isHrApproved == false || item.isUnitHeadApproved == false)
                                {
                                    <p>Undergoing Review</p>
                                }
                                else
                                {
                                    <p>Approved</p>
                                }*@
                        </td>

                        <td>

                            @if (item.isHrApproved == false && !item.isUnitHeadDisapprove == true)
                            {@*<button type="button" class="btn btn-purple dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="true">
                    action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a asp-action="Details" asp-route-id="@item.Id" class=""><i class="fa fa-sticky-note" style="color:dodgerblue"></i>Leave Handover Note</a>
                    </li>
                    <li>
                        <a asp-action="Edit" asp-route-id="@item.Id" class=""><i class="fa fa-pencil" style="color:powderblue"></i>Edit</a>
                    </li>

                </ul>*@
                                                <ul class="list-unstyled">
                                                    <li class="nav-item dropdown no-arrow">
                                                        <button class="btn btn-outline-info dropdown-toggle small" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Action<span class="caret"></span>
                                                        </button>
                                                        <!-- Dropdown - User Information -->
                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                                            @*<a class="dropdown-item" asp-action="DetailsUnit" asp-route-id="@item.Id">
                                                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                    Leave Handover Note
                                                                </a>*@
                                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">
                                                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                Edit
                                                            </a>

                                                        </div>
                                                    </li>
                                                </ul>}

                        </td>
                    </tr>}
                            </tbody>
                        </table><br />


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />