﻿@model Novo.Models.Entity.EmploymentDetails

@{
    ViewData["Title"] = "Details";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Create Employee";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    //var unit = user.Units.Name;
    var formtype = "hidden";
    var Input = "readonly";
}


<br />
<h2 class="text-info">Employee Details</h2>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Fullname"></label>
            </div>
            <div class="col-8">
                <input asp-for="Fullname" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="DOB"></label>
            </div>
            <div class="col-8">
                <input asp-for="DOB" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Email"></label>
            </div>
            <div class="col-8">
                <input asp-for="Email" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Gender"></label>
            </div>
            <div class="col-8">
                <input asp-for="Gender" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="MaritalStatus"></label>
            </div>
            <div class="col-8">
                <input asp-for="MaritalStatus" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmployeeNo"></label>
            </div>
            <div class="col-8">
                <input asp-for="EmployeeNo" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Total Leaves</label>
            </div>
            <div class="col-8">
                <input value="@ViewBag.Leaves" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Leaves Remaining</label>
            </div>
            <div class="col-8">
                <input value="@ViewBag.Remaining" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Employee Unit</label>
            </div>
            <div class="col-8">
                <input value="@ViewBag.Unit" readonly class="form-control" />
            </div>
        </div>
        @*<div class="form-group row">
            <div class="col-4">
                <label asp-for="@user.Units">Employee Unit</label>
            </div>
            <div class="col-8">
                <input asp-for="@user.Units" value="@unit" class="form-control" />
            </div>
        </div>*@
    </div>
    <div class="col-1">

    </div>
    <div class="col-3">
        <img src="@Model.Image" style="border-radius:5px; border:1px solid #bbb9b9; width:100%;" />
    </div>


    <br />
    <div class="form-group">
        @*<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>*@
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>
