﻿@model IEnumerable<Novo.Models.Entity.Country>
@using Novo.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Staff List";
    var user = await UserManager.GetUserAsync(User);
}


<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-12">

                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col col-md-6">
                                    <table>
                                        <tr>
                                            <td>
                                                <i class="fa fa-flag-o
                                                    fa-4x"></i>
                                            </td>
                                            <td>
                                                <h4>
                                                    Countries
                                                </h4>
                                                <p>&nbsp;&nbsp;&nbsp; Manage Countries</p>
                                            </td>
                                        </tr>
                                    </table>


                                </div>
                                <div class="col col-md-6">


                                    <ol class="breadcrumb">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-flag-checkered
                                                           "></i> Countries List

                                            </a>
                                        </li>
                                        <li><a href="#">Index</a></li>

                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Add New Country</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                 
                                    <br /><br />
                                    <div class="form-group">
                                      
                                        <div class="col-sm-10">
                                            <input type="text" name="Name
                                                         " value="" placeholder="Enter Country Name" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group" hidden>
                                       
                                        <div class="col-sm-10">
                                            <input type="text" name="AddedBy
                                                         " value="@user.LastName @user.FirstName" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group" hidden>
                                        <input type="datetime" name="CreateDate" class="form-control" value="@DateTime.Now" placeholder="@DateTime.Now" />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-facebook" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">


                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="row mb">
            <div class="col-lg-12">
                <a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-plus"></i> Add New Country
                </a>
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <p>
                            <br /><br />
                        </p>
                        <table id="datatable" class="table-responsive table-striped
                               table-bordered" cellspacing="0" width="97%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AddedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsDelete)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AddedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsDelete)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-purple dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="true">
                                                    action <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a asp-action="Edit" asp-route-id="@item.Id" class=""><i class="fa fa-pencil" style="color:blue"></i>    Edit</a>
                                                    </li>
                                                    <li>
                                                        <hr />
                                                        <a asp-action="Details" asp-route-id="@item.Id" class=""><i class="fa fa-th-list" style="color:green"></i> Details</a>
                                                    </li>
                                                    <li>
                                                        <hr />
                                                        <a asp-action="Delete" class="" asp-route-id="@item.Id"><i class="fa fa-trash" style="color:red"></i> Delete</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <p>
                            <br /><br />
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!-- /col-lg-12 -->

    </section>
</section>