﻿@model Novo.Models.Entity.EmployeeContact

@{
    ViewData["Title"] = "Details";
}


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Create Employee";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    //var unit = user.Units.Name;
    var formtype = "hidden";
    var Input = "readonly";
}


@*<h2>Details</h2>

<div>
    <h4>EmployeeContact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lga.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Regions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regions.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeneficiaryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeneficiaryNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeneficiaryAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@







<br />
<h2 class="text-info">Employee Details</h2>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Address"></label>
            </div>
            <div class="col-8">
                <input asp-for="Address" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="City"></label>
            </div>
            <div class="col-8">
                <input asp-for="City" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Lga.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Lga.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="State.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="State.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Regions.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Regions.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="StateOfOrigin"></label>
            </div>
            <div class="col-8">
                <input asp-for="StateOfOrigin" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CountryOfOrigin"></label>
            </div>
            <div class="col-8">
                <input asp-for="CountryOfOrigin" readonly class="form-control" />
            </div>
        </div>
        @*<div class="form-group row">
                <div class="col-4">
                    <label asp-for="@user.Units">Employee Unit</label>
                </div>
                <div class="col-8">
                    <input asp-for="@user.Units" value="@unit" class="form-control" />
                </div>
            </div>*@

        <hr />
        <h5>Beneficiary</h5>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="BeneficiaryName"></label>
            </div>
            <div class="col-8">
                <input asp-for="BeneficiaryName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="BeneficiaryNo"></label>
            </div>
            <div class="col-8">
                <input asp-for="BeneficiaryNo" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="BeneficiaryAddress"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="BeneficiaryAddress" readonly class="form-control"></textarea>
            </div>
        </div>

        <hr />
        <h5>Emergency Contact</h5>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmergencyName">Name</label>
            </div>
            <div class="col-8">
                <input asp-for="EmergencyName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmergencyNo"></label>
            </div>
            <div class="col-8">
                <input asp-for="EmergencyNo" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmergencyAddress"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="EmergencyAddress" readonly class="form-control"></textarea>
            </div>
        </div>
    </div>


    <div class="col-1">

    </div>
    <div class="col-3">
        @*<img src="@Model.Image" style="border-radius:5px; border:1px solid #bbb9b9; width:100%;" />*@
    </div>


    <br />
    <div class="form-group">
        @*<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>*@
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>