﻿@model NovoApp.Moddel.FormsViewModel


@{
    ViewData["Title"] = "Create";
}

@inject SignInManager<ApplicationUser> signInManager;



@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);

}


<form asp-action="Create">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        SECTION A
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                    {
                        <div class="card-body">
                            <table class="table table-bordered table-responsive-sm" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Performance Measures</th>
                                        <th>Assigned Weight</th>
                                        <th>Self Appraisal</th>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <th>Line Manager Appraisal</th>
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    <div></div>
                                    <tr>
                                        <td></td>
                                        <td colspan="4"><strong>FINANCIAL</strong></td>
                                    </tr>

                                    <div class="form-group" hidden>
                                        <label asp-for="appraisalForm.UnitsId" class="control-label"></label>
                                        <input asp-for="appraisalForm.UnitsId" value="@user.UnitsId" class="form-control" />
                                        <span asp-validation-for="appraisalForm.UnitsId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="appraisalForm.EmployeeEmail" class="control-label"></label>
                                        <input asp-for="appraisalForm.EmployeeEmail" value="@user.Email" class="form-control" />
                                        <span asp-validation-for="appraisalForm.EmployeeEmail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="appraisalForm.EmployeeId" class="control-label"></label>
                                        <input asp-for="appraisalForm.EmployeeId" value="@user.Id" class="form-control" />
                                        <span asp-validation-for="appraisalForm.EmployeeId" class="text-danger"></span>
                                    </div>

                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <label asp-for="appraisalForm.OperationalExpensesReduction" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question1)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight1" asp-for="appraisalForm.OperationalExpensesReduction" id="name" onkeyup="myFunction()" class="form-control" /></td>

                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight1" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.OperationalExpensesReductionAppraisal" onkeyup="myFunction()" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.OperationalExpensesReduction" class="text-danger"></span>
                                    </tr>
                                    <tr>


                                        <td>2</td>
                                        <td>
                                            <label asp-for="appraisalForm.MedicalBillsReduction" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question2)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight2" asp-for="appraisalForm.MedicalBillsReduction" id="name2" onkeyup="myFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight2" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.MedicalBillsReductionAppraisal" onkeyup="myFunction()" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.MedicalBillsReduction" class="text-danger"></span>


                                    </tr>
                                    @if (Model.form.Question3 != null)
                                    {
                                        <tr>
                                            <td>3</td>
                                            <td>
                                                <label asp-for="appraisalForm.RetailProduct" class="control-label">
                                                    @Html.DisplayFor(model => model.form.Question3)
                                                </label>
                                            </td>
                                            <td><input min="1" max="@Model.form.Weight3" asp-for="appraisalForm.RetailProduct" id="name3" onkeyup="myFunction()" class="form-control" /></td>
                                            <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight3" disabled class="form-control" /></td>
                                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                            {
                                                <td><input min="1" max="5" asp-for="appraisalForm.RetailProductAppraisal" onkeyup="myFunction()" class="form-control" /></td>
                                            }
                                            <span asp-validation-for="appraisalForm.RetailProduct" class="text-danger"></span>
                                        </tr>
                                    }

                                    <tr>
                                        <td></td>
                                        <td><label asp-for="appraisalForm.FinancialSubTotal" class="control-label"><strong>Sub Total</strong></label></td>
                                        @*<td><span id="display" asp-for="appraisalForm.FinancialSubTotal"  value="" class="form-control" ></span></td>*@
                                        <td><span id="display"></span></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="20" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td></td>
                                        }
                                        <span asp-validation-for="appraisalForm.FinancialSubTotal" class="text-danger"></span>
                                    </tr>


                                    <tr>
                                        <td></td>
                                        <td colspan="4"><strong>CUSTOMER SATISFACTION</strong></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <label asp-for="appraisalForm.TurnAroundTime" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question4)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight4" asp-for="appraisalForm.TurnAroundTime" id="time" onkeyup="aFunction()" class="form-control" /></td>

                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight4" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.TurnAroundTimeAppraisal" class="form-control" /></td>
                                        }

                                        <span asp-validation-for="appraisalForm.TurnAroundTime" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <label asp-for="appraisalForm.MinimalComplaints" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question5)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight5" asp-for="appraisalForm.MinimalComplaints" onkeyup="aFunction()" id="time2" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight5" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.MinimalComplaintsAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.MinimalComplaints" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <label asp-for="appraisalForm.ConstantCommunication" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question6)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight6" asp-for="appraisalForm.ConstantCommunication" onkeyup="aFunction()" id="time3" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight6" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.ConstantCommunicationAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ConstantCommunication" class="text-danger"></span>
                                    </tr>
                                    @if (Model.form.Question7 != null)
                                    {
                                        <tr>
                                            <td>4</td>
                                            <td>
                                                <label asp-for="appraisalForm.Question7" class="control-label">
                                                    @Html.DisplayFor(model => model.form.Question7)
                                                </label>
                                            </td>
                                            <td><input min="1" max="@Model.form.Weight7" asp-for="appraisalForm.Question7" onkeyup="aFunction()" id="time3" class="form-control" /></td>
                                            <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight7" disabled class="form-control" /></td>
                                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                            {
                                                <td><input min="1" max="5" asp-for="appraisalForm.Question7Appraisail" class="form-control" /></td>
                                            }
                                            <span asp-validation-for="appraisalForm.Question7" class="text-danger"></span>
                                        </tr>
                                    }
                                    @if (Model.form.Question8 != null)
                                    {
                                        <tr>
                                            <td>4</td>
                                            <td>
                                                <label asp-for="appraisalForm.Question8" class="control-label">
                                                    @Html.DisplayFor(model => model.form.Question8)
                                                </label>
                                            </td>
                                            <td><input min="1" max="@Model.form.Weight8" asp-for="appraisalForm.Question8" onkeyup="aFunction()" id="time3" class="form-control" /></td>
                                            <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight8" disabled class="form-control" /></td>
                                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                            {
                                                <td><input min="1" max="5" asp-for="appraisalForm.Question8Appraisal" class="form-control" /></td>
                                            }
                                            <span asp-validation-for="appraisalForm.Question8" class="text-danger"></span>
                                        </tr>
                                    }
                                    <tr>
                                        <td></td>
                                        <td><label asp-for="appraisalForm.CustomerSatisfactionTotal" class="control-label"><strong>Sub Total</strong></label></td>
                                        @*<td><input min="1" max="5" asp-for="appraisalForm.CustomerSatisfactionTotal" class="form-control" /></td>*@
                                        <td><span id="timmee"></span></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="20" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td></td>
                                        }
                                        <span asp-validation-for="appraisalForm.CustomerSatisfactionTotal" class="text-danger"></span>
                                    </tr>



                                    <tr>
                                        <td></td>
                                        <td colspan="4"><strong>PROCESS</strong></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <label asp-for="appraisalForm.TimelyCompletion" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question9)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight9" asp-for="appraisalForm.TimelyCompletion" id="process1" onkeyup="bFunction()" class="form-control" /></td>

                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight9" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.TimelyCompletionAppraisal" class="form-control" /></td>
                                        }

                                        <span asp-validation-for="appraisalForm.TimelyCompletion" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <label asp-for="appraisalForm.TimelyAudit" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question10)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight10" asp-for="appraisalForm.TimelyAudit" id="process2" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight10" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.TimelyAuditAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.TimelyAudit" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <label asp-for="appraisalForm.ZeroNonCompliance" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question11)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight11" asp-for="appraisalForm.ZeroNonCompliance" id="process3" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight11" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.ZeroNonComplianceAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ZeroNonCompliance" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <label asp-for="appraisalForm.ZeroProcessFailures" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question12)

                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight12" asp-for="appraisalForm.ZeroProcessFailures" id="process4" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight12" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.ZeroProcessFailuresAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ZeroProcessFailures" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <label asp-for="appraisalForm.PromptReview" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question13)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight13" asp-for="appraisalForm.PromptReview" id="process7" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight13" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.PromptReviewAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.PromptReview" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <label asp-for="appraisalForm.InternalProcess" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question14)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight14" asp-for="appraisalForm.InternalProcess" id="process5" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="3" style="border:0; background:none; text-align:center;" value="@Model.form.Weight14" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="3" asp-for="appraisalForm.InternalProcessAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.InternalProcess" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>
                                            <label asp-for="appraisalForm.AdhocTasks" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question15)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight15" asp-for="appraisalForm.AdhocTasks" id="process6" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="@Model.form.Weight15" style="border:0; background:none; text-align:center;" value="@Model.form.Weight15" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.AdhocTasksAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.AdhocTasks" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><label asp-for="appraisalForm.ProcessTotal" class="control-label"><strong>Sub Total</strong></label></td>
                                        @*<td><input min="1" max="5" asp-for="appraisalForm.ProcessTotal" class="form-control" /></td>*@
                                        <td><span id="show"></span></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="30" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ProcessTotal" class="text-danger"></span>
                                    </tr>



                                    <tr>
                                        <td></td>
                                        <td colspan="4"><strong>LEARNING & CAPACITY</strong></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <label asp-for="appraisalForm.TrainingHours" class="control-label">
                                                ACHIEVE AN AVERAGE OF 30 TRAINING HOURS/STAFF PER HALF YEAR
                                            </label>
                                        </td>
                                        <td><input min="1" max="4" asp-for="appraisalForm.TrainingHours" id="learn1" onkeyup="cFunction()" class="form-control" /></td>

                                        <td><input min="1" max="4" style="border:0; background:none; text-align:center;" value="4" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="4" asp-for="appraisalForm.TrainingHoursAppraisal" class="form-control" /></td>
                                        }

                                        <span asp-validation-for="appraisalForm.TrainingHours" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <label asp-for="appraisalForm.DisciplinaryRecord" class="control-label">
                                                DISCIPLINARY RECORD (NO DISCIPLINARY ISSUE/INCIDENCE)
                                            </label>
                                        </td>
                                        <td><input min="1" max="2" asp-for="appraisalForm.DisciplinaryRecord" id="learn2" onkeyup="cFunction()" class="form-control" /></td>
                                        <td><input min="1" max="2" style="border:0; background:none; text-align:center;" value="2" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="2" asp-for="appraisalForm.DisciplinaryRecordAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.DisciplinaryRecord" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <label asp-for="appraisalForm.Culture" class="control-label">
                                                CULTURE (SHARED MINDSET & LOYALTY)
                                            </label>
                                        </td>
                                        <td><input min="1" max="2" asp-for="appraisalForm.Culture" id="learn3" onkeyup="cFunction()" class="form-control" /></td>
                                        <td><input min="1" max="2" style="border:0; background:none; text-align:center;" value="2" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="1" max="2" asp-for="appraisalForm.CultureAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.Culture" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <label asp-for="appraisalForm.AttendanceAndPunctuality" class="control-label">
                                                ATTENDANCE & PUNCTUALITY
                                            </label>
                                        </td>
                                        <td><input min="0" max="1" asp-for="appraisalForm.AttendanceAndPunctuality" id="learn4" onkeyup="cFunction()" class="form-control" /></td>
                                        <td><input min="0" max="1" style="border:0; background:none; text-align:center;" value="1" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="0" max="1" asp-for="appraisalForm.AttendanceAndPunctualityAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.AttendanceAndPunctuality" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <label asp-for="appraisalForm.TechnologyProficiency" class="control-label">
                                                TECHNOLOGY USAGE & PROFICIENCY
                                            </label>
                                        </td>
                                        <td><input min="0" max="1" asp-for="appraisalForm.TechnologyProficiency" id="learn5" onkeyup="cFunction()" class="form-control" /></td>
                                        <td><input min="0" max="1" style="border:0; background:none; text-align:center;" value="1" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td><input min="0" max="1" asp-for="appraisalForm.TechnologyProficiencyAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.TechnologyProficiency" class="text-danger"></span>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td><label asp-for="appraisalForm.ProcessTotal" class="control-label"><strong>Sub Total</strong></label></td>
                                        @*<td><input min="1" max="5" asp-for="appraisalForm.ProcessTotal" class="form-control" /></td>*@
                                        <td><span id="learn"></span></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="10" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                        {
                                            <td></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ProcessTotal" class="text-danger"></span>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    }
                    else if (signInManager.IsSignedIn(User))
                    {
                        <div class="card-body">
                            <table class="table table-bordered table-responsive-sm" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Performance Measures</th>
                                        <th>Assigned Weight</th>
                                        <th>Self Appraisal</th>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <th>Line Manager Appraisal</th>
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    <div></div>
                                    <tr>
                                        <td></td>
                                        <td colspan="4"><strong>FINANCIAL</strong></td>
                                    </tr>

                                    <div class="form-group" hidden>
                                        <label asp-for="appraisalForm.UnitsId" class="control-label"></label>
                                        <input asp-for="appraisalForm.UnitsId" value="@user.UnitsId" class="form-control" />
                                        <span asp-validation-for="appraisalForm.UnitsId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="appraisalForm.EmployeeEmail" class="control-label"></label>
                                        <input asp-for="appraisalForm.EmployeeEmail" value="@user.Email" class="form-control" />
                                        <span asp-validation-for="appraisalForm.EmployeeEmail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="appraisalForm.EmployeeId" class="control-label"></label>
                                        <input asp-for="appraisalForm.EmployeeId" value="@user.Id" class="form-control" />
                                        <span asp-validation-for="appraisalForm.EmployeeId" class="text-danger"></span>
                                    </div>

                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <label asp-for="appraisalForm.OperationalExpensesReduction" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question1)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight1" asp-for="appraisalForm.OperationalExpensesReduction" id="name" onkeyup="myFunction()" class="form-control" /></td>

                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight1" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.OperationalExpensesReductionAppraisal" onkeyup="myFunction()" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.OperationalExpensesReduction" class="text-danger"></span>
                                    </tr>
                                    <tr>


                                        <td>2</td>
                                        <td>
                                            <label asp-for="appraisalForm.MedicalBillsReduction" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question2)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight2" asp-for="appraisalForm.MedicalBillsReduction" id="name2" onkeyup="myFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight2" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.MedicalBillsReductionAppraisal" onkeyup="myFunction()" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.MedicalBillsReduction" class="text-danger"></span>


                                    </tr>
                                    @if (Model.form.Question3 != null)
                                    {
                                        <tr>
                                            <td>3</td>
                                            <td>
                                                <label asp-for="appraisalForm.RetailProduct" class="control-label">
                                                    @Html.DisplayFor(model => model.form.Question3)
                                                </label>
                                            </td>
                                            <td><input min="1" max="@Model.form.Weight3" asp-for="appraisalForm.RetailProduct" id="name3" onkeyup="myFunction()" class="form-control" /></td>
                                            <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight3" disabled class="form-control" /></td>
                                            @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                            {
                                                <td><input min="1" max="5" asp-for="appraisalForm.RetailProductAppraisal" onkeyup="myFunction()" class="form-control" /></td>
                                            }
                                            <span asp-validation-for="appraisalForm.RetailProduct" class="text-danger"></span>
                                        </tr>
                                    }

                                    <tr>
                                        <td></td>
                                        <td><label asp-for="appraisalForm.FinancialSubTotal" class="control-label"><strong>Sub Total</strong></label></td>
                                        @*<td><span id="display" asp-for="appraisalForm.FinancialSubTotal"  value="" class="form-control" ></span></td>*@
                                        <td><span id="display"></span></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="20" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td></td>
                                        }
                                        <span asp-validation-for="appraisalForm.FinancialSubTotal" class="text-danger"></span>
                                    </tr>


                                    <tr>
                                        <td></td>
                                        <td colspan="4"><strong>CUSTOMER SATISFACTION</strong></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <label asp-for="appraisalForm.TurnAroundTime" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question4)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight4" asp-for="appraisalForm.TurnAroundTime" id="time" onkeyup="aFunction()" class="form-control" /></td>

                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight4" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.TurnAroundTimeAppraisal" class="form-control" /></td>
                                        }

                                        <span asp-validation-for="appraisalForm.TurnAroundTime" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <label asp-for="appraisalForm.MinimalComplaints" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question5)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight5" asp-for="appraisalForm.MinimalComplaints" onkeyup="aFunction()" id="time2" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight5" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.MinimalComplaintsAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.MinimalComplaints" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <label asp-for="appraisalForm.ConstantCommunication" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question6)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight6" asp-for="appraisalForm.ConstantCommunication" onkeyup="aFunction()" id="time3" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight6" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.ConstantCommunicationAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ConstantCommunication" class="text-danger"></span>
                                    </tr>
                                    @if (Model.form.Question7 != null)
                                    {
                                        <tr>
                                            <td>4</td>
                                            <td>
                                                <label asp-for="appraisalForm.Question7" class="control-label">
                                                    @Html.DisplayFor(model => model.form.Question7)
                                                </label>
                                            </td>
                                            <td><input min="1" max="@Model.form.Weight7" asp-for="appraisalForm.Question7" onkeyup="aFunction()" id="time3" class="form-control" /></td>
                                            <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight7" disabled class="form-control" /></td>
                                            @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                            {
                                                <td><input min="1" max="5" asp-for="appraisalForm.Question7Appraisail" class="form-control" /></td>
                                            }
                                            <span asp-validation-for="appraisalForm.Question7" class="text-danger"></span>
                                        </tr>
                                    }
                                    @if (Model.form.Question8 != null)
                                    {
                                        <tr>
                                            <td>4</td>
                                            <td>
                                                <label asp-for="appraisalForm.Question8" class="control-label">
                                                    @Html.DisplayFor(model => model.form.Question8)
                                                </label>
                                            </td>
                                            <td><input min="1" max="@Model.form.Weight8" asp-for="appraisalForm.Question8" onkeyup="aFunction()" id="time3" class="form-control" /></td>
                                            <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight8" disabled class="form-control" /></td>
                                            @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                            {
                                                <td><input min="1" max="5" asp-for="appraisalForm.Question8Appraisal" class="form-control" /></td>
                                            }
                                            <span asp-validation-for="appraisalForm.Question8" class="text-danger"></span>
                                        </tr>
                                    }
                                    <tr>
                                        <td></td>
                                        <td><label asp-for="appraisalForm.CustomerSatisfactionTotal" class="control-label"><strong>Sub Total</strong></label></td>
                                        @*<td><input min="1" max="5" asp-for="appraisalForm.CustomerSatisfactionTotal" class="form-control" /></td>*@
                                        <td><span id="timmee"></span></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="20" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td></td>
                                        }
                                        <span asp-validation-for="appraisalForm.CustomerSatisfactionTotal" class="text-danger"></span>
                                    </tr>



                                    <tr>
                                        <td></td>
                                        <td colspan="4"><strong>PROCESS</strong></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <label asp-for="appraisalForm.TimelyCompletion" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question9)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight9" asp-for="appraisalForm.TimelyCompletion" id="process1" onkeyup="bFunction()" class="form-control" /></td>

                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight9" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.TimelyCompletionAppraisal" class="form-control" /></td>
                                        }

                                        <span asp-validation-for="appraisalForm.TimelyCompletion" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <label asp-for="appraisalForm.TimelyAudit" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question10)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight10" asp-for="appraisalForm.TimelyAudit" id="process2" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight10" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.TimelyAuditAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.TimelyAudit" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <label asp-for="appraisalForm.ZeroNonCompliance" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question11)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight11" asp-for="appraisalForm.ZeroNonCompliance" id="process3" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight11" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.ZeroNonComplianceAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ZeroNonCompliance" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <label asp-for="appraisalForm.ZeroProcessFailures" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question12)

                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight12" asp-for="appraisalForm.ZeroProcessFailures" id="process4" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight12" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.ZeroProcessFailuresAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ZeroProcessFailures" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <label asp-for="appraisalForm.PromptReview" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question13)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight13" asp-for="appraisalForm.PromptReview" id="process7" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="@Model.form.Weight13" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.PromptReviewAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.PromptReview" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <label asp-for="appraisalForm.InternalProcess" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question14)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight14" asp-for="appraisalForm.InternalProcess" id="process5" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="3" style="border:0; background:none; text-align:center;" value="@Model.form.Weight14" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="3" asp-for="appraisalForm.InternalProcessAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.InternalProcess" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>
                                            <label asp-for="appraisalForm.AdhocTasks" class="control-label">
                                                @Html.DisplayFor(model => model.form.Question15)
                                            </label>
                                        </td>
                                        <td><input min="1" max="@Model.form.Weight15" asp-for="appraisalForm.AdhocTasks" id="process6" onkeyup="bFunction()" class="form-control" /></td>
                                        <td><input min="1" max="@Model.form.Weight15" style="border:0; background:none; text-align:center;" value="@Model.form.Weight15" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="5" asp-for="appraisalForm.AdhocTasksAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.AdhocTasks" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><label asp-for="appraisalForm.ProcessTotal" class="control-label"><strong>Sub Total</strong></label></td>
                                        @*<td><input min="1" max="5" asp-for="appraisalForm.ProcessTotal" class="form-control" /></td>*@
                                        <td><span id="show"></span></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="30" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ProcessTotal" class="text-danger"></span>
                                    </tr>



                                    <tr>
                                        <td></td>
                                        <td colspan="4"><strong>LEARNING & CAPACITY</strong></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <label asp-for="appraisalForm.TrainingHours" class="control-label">
                                                ACHIEVE AN AVERAGE OF 30 TRAINING HOURS/STAFF PER HALF YEAR
                                            </label>
                                        </td>
                                        <td><input min="1" max="4" asp-for="appraisalForm.TrainingHours" id="learn1" onkeyup="cFunction()" class="form-control" /></td>

                                        <td><input min="1" max="4" style="border:0; background:none; text-align:center;" value="4" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="4" asp-for="appraisalForm.TrainingHoursAppraisal" class="form-control" /></td>
                                        }

                                        <span asp-validation-for="appraisalForm.TrainingHours" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <label asp-for="appraisalForm.DisciplinaryRecord" class="control-label">
                                                DISCIPLINARY RECORD (NO DISCIPLINARY ISSUE/INCIDENCE)
                                            </label>
                                        </td>
                                        <td><input min="1" max="2" asp-for="appraisalForm.DisciplinaryRecord" id="learn2" onkeyup="cFunction()" class="form-control" /></td>
                                        <td><input min="1" max="2" style="border:0; background:none; text-align:center;" value="2" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="2" asp-for="appraisalForm.DisciplinaryRecordAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.DisciplinaryRecord" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <label asp-for="appraisalForm.Culture" class="control-label">
                                                CULTURE (SHARED MINDSET & LOYALTY)
                                            </label>
                                        </td>
                                        <td><input min="1" max="2" asp-for="appraisalForm.Culture" id="learn3" onkeyup="cFunction()" class="form-control" /></td>
                                        <td><input min="1" max="2" style="border:0; background:none; text-align:center;" value="2" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="1" max="2" asp-for="appraisalForm.CultureAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.Culture" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <label asp-for="appraisalForm.AttendanceAndPunctuality" class="control-label">
                                                ATTENDANCE & PUNCTUALITY
                                            </label>
                                        </td>
                                        <td><input min="0" max="1" asp-for="appraisalForm.AttendanceAndPunctuality" id="learn4" onkeyup="cFunction()" class="form-control" /></td>
                                        <td><input min="0" max="1" style="border:0; background:none; text-align:center;" value="1" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="0" max="1" asp-for="appraisalForm.AttendanceAndPunctualityAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.AttendanceAndPunctuality" class="text-danger"></span>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <label asp-for="appraisalForm.TechnologyProficiency" class="control-label">
                                                TECHNOLOGY USAGE & PROFICIENCY
                                            </label>
                                        </td>
                                        <td><input min="0" max="1" asp-for="appraisalForm.TechnologyProficiency" id="learn5" onkeyup="cFunction()" class="form-control" /></td>
                                        <td><input min="0" max="1" style="border:0; background:none; text-align:center;" value="1" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td><input min="0" max="1" asp-for="appraisalForm.TechnologyProficiencyAppraisal" class="form-control" /></td>
                                        }
                                        <span asp-validation-for="appraisalForm.TechnologyProficiency" class="text-danger"></span>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td><label asp-for="appraisalForm.ProcessTotal" class="control-label"><strong>Sub Total</strong></label></td>
                                        @*<td><input min="1" max="5" asp-for="appraisalForm.ProcessTotal" class="form-control" /></td>*@
                                        <td><span id="learn"></span></td>
                                        <td><input min="1" max="5" style="border:0; background:none; text-align:center;" value="10" disabled class="form-control" /></td>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                        {
                                            <td></td>
                                        }
                                        <span asp-validation-for="appraisalForm.ProcessTotal" class="text-danger"></span>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    }


                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        SECTION B: FIT WITH THE COMPANY’S VALUES
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="container collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">

                    <div>

                        <p style="color:red;">
                            <b>
                                This section evaluates behaviors, attitudes and competencies as they affect the performance of the appraisee. It makes up 25% of the total
                                score. Please evaluate the appraisee by ticking the appropriate box for each of the performance areas outlined below.
                            </b>
                        </p>

                        <h6><strong><u>Scoring Guideline</u></strong></h6>

                        <p>
                            [1] = Hardly does or has this. Sometimes requires assistance or reminding <br />
                            [2] = satisfactorily does this with minimal intervention <br />
                            [3] = Consistently and completely achieves this sometimes setting the pace or standard
                        </p>

                        <div>
                            <p>
                                <strong>Teamwork</strong><br />

                                How often does the appraisee come up with solutions by working with other people? Does she/she share ideas and opportunities with
                                others? Does the appraisee assist others even though he/she has nothing to gain from it? Does he/she think of “we” as opposed to “me”?
                            </p>

                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="appraisalForm.Teamwork" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.Teamwork" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.Teamwork" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.Teamwork" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.Teamwork" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.Teamwork" value="3">
                                        3
                                    </label>
                                </div>

                                @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                {
                                    <div class="col-6">
                                        <label asp-for="appraisalForm.TeamworkAppraisal" class="col-1">
                                            <input type="radio" asp-for="appraisalForm.TeamworkAppraisal" value="1">
                                            1
                                        </label>
                                        <label asp-for="appraisalForm.TeamworkAppraisal" class="col-1">
                                            <input type="radio" asp-for="appraisalForm.TeamworkAppraisal" value="2">
                                            2
                                        </label>
                                        <label asp-for="appraisalForm.TeamworkAppraisal" class="col-1">
                                            <input type="radio" asp-for="appraisalForm.TeamworkAppraisal" value="3">
                                            3
                                        </label>
                                    </div>

                                }
                            </div>

                        </div>


                        <div>
                            <p>
                                <strong>Professionalism and Quality of Work</strong><br />
                                Is the appraisee committed to the company’s goals and the way it has agreed to conduct its business? Does he/she have in-depth
                                knowledge of his/her role? Does he/she carry out his/her daily activities in an organized/efficient manner and within the boundaries of
                                how the company has said it will do business?
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="appraisalForm.Professionalism" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.Professionalism" value="1">
                                    1
                                </label>
                                <label asp-for="appraisalForm.Professionalism" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.Professionalism" value="2">
                                    2
                                </label>
                                <label asp-for="appraisalForm.Professionalism" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.Professionalism" value="3">
                                    3
                                </label>
                            </div>

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="col-6">
                                    <label asp-for="appraisalForm.ProfessionalismAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.ProfessionalismAppraisal" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.ProfessionalismAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.ProfessionalismAppraisal" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.ProfessionalismAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.ProfessionalismAppraisal" value="3">
                                        3
                                    </label>
                                </div>

                            }
                        </div>

                        <p>
                            <strong>Cost Consciousness</strong><br />
                            Does the appraisee often look for ways to reduce cost without compromising on quality? Does he/she often use fewer resources than
                            what was assigned to him/her? In handling the company’s resources, does he/she put the interest of the company before personal
                            interest?
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="appraisalForm.CostConciousness" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.CostConciousness" value="1">
                                    1
                                </label>
                                <label asp-for="appraisalForm.CostConciousness" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.CostConciousness" value="2">
                                    2
                                </label>
                                <label asp-for="appraisalForm.CostConciousness" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.CostConciousness" value="3">
                                    3
                                </label>
                            </div>

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="col-6">
                                    <label asp-for="appraisalForm.CostConciousnessAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.CostConciousnessAppraisal" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.CostConciousnessAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.CostConciousnessAppraisal" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.CostConciousnessAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.CostConciousnessAppraisal" value="3">
                                        3
                                    </label>
                                </div>

                            }
                        </div>

                        <p>
                            <strong>Communication</strong><br />
                            Does the appraisee seek to understand other people’s point of view? Does he/she share relevant information in a timely manner?
                            Expresses ideas and information in writing and verbal, in a manner that is complete, organized and appropriate to the audience. Convey
                            information to supervisor, peers, and customers in a timely clear, concise manner, listen to others, and in open minded to and evaluates
                            suggestions from others
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="appraisalForm.Communication" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.Communication" value="1">
                                    1
                                </label>
                                <label asp-for="appraisalForm.Communication" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.Communication" value="2">
                                    2
                                </label>
                                <label asp-for="appraisalForm.Communication" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.Communication" value="3">
                                    3
                                </label>
                            </div>

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="col-6">
                                    <label asp-for="appraisalForm.CommunicationAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.CommunicationAppraisal" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.CommunicationAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.CommunicationAppraisal" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.CommunicationAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.CommunicationAppraisal" value="3">
                                        3
                                    </label>
                                </div>

                            }
                        </div>

                        <p>
                            <strong>Respect for due Process & Personal Discipline</strong><br />
                            Does the appraisee often comply with standard procedure? Does he/she set the example for others in adhering to the policies and
                            processes of the company? Does he/she make considerable efforts to be not only in full attendance but punctual as well?
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="appraisalForm.PersonalDiscipline" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.PersonalDiscipline" value="1">
                                    1
                                </label>
                                <label asp-for="appraisalForm.PersonalDiscipline" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.PersonalDiscipline" value="2">
                                    2
                                </label>
                                <label asp-for="appraisalForm.PersonalDiscipline" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.PersonalDiscipline" value="3">
                                    3
                                </label>
                            </div>

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="col-6">
                                    <label asp-for="appraisalForm.PersonalDisciplineAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.PersonalDisciplineAppraisal" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.PersonalDisciplineAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.PersonalDisciplineAppraisal" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.PersonalDisciplineAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.PersonalDisciplineAppraisal" value="3">
                                        3
                                    </label>
                                </div>

                            }
                        </div>

                        <p>
                            <strong>Customer Service Orientation</strong><br />
                            Does the appraisee feel he/she always has a customer (internal/external) to serve? Does he/she make an extra effort to meet the
                            customers’ needs? How well does he/she serve the customer (internal/external)?
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="appraisalForm.CustomerService" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.CustomerService" value="1">
                                    1
                                </label>
                                <label asp-for="appraisalForm.CustomerService" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.CustomerService" value="2">
                                    2
                                </label>
                                <label asp-for="appraisalForm.CustomerService" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.CustomerService" value="3">
                                    3
                                </label>
                            </div>

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="col-6">
                                    <label asp-for="appraisalForm.CustomerServiceAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.CustomerServiceAppraisal" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.CustomerServiceAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.CustomerServiceAppraisal" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.CustomerServiceAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.CustomerServiceAppraisal" value="3">
                                        3
                                    </label>
                                </div>

                            }
                        </div>

                        <p>
                            <strong>Innovation</strong><br />
                            Does the appraisee come up with new ideas/suggestions concerning his/her job? Does he/she constantly look for faster, more efficient
                            and more effective ways to do his/her work?
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="appraisalForm.Innovation" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.Innovation" value="1">
                                    1
                                </label>
                                <label asp-for="appraisalForm.Innovation" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.Innovation" value="2">
                                    2
                                </label>
                                <label asp-for="appraisalForm.Innovation" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.Innovation" value="3">
                                    3
                                </label>
                            </div>

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="col-6">
                                    <label asp-for="appraisalForm.InnovationAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.InnovationAppraisal" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.InnovationAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.InnovationAppraisal" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.InnovationAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.InnovationAppraisal" value="3">
                                        3
                                    </label>
                                </div>

                            }
                        </div>

                        <p>
                            <strong>Management & Leadership Skills</strong><br />
                            How confident are people with the appraisee? Does he/she display the initiative and tact of leading? How good is he/she at managing
                            and/or motivating subordinates and peers? Realistically weighs and evaluates information, separates important from unimportant,
                            assesses probable consequences and takes appropriate action and demonstrates the ability to make sound and timely decisions.
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="appraisalForm.ManagementSkills" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.ManagementSkills" value="1">
                                    1
                                </label>
                                <label asp-for="appraisalForm.ManagementSkills" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.ManagementSkills" value="2">
                                    2
                                </label>
                                <label asp-for="appraisalForm.ManagementSkills" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.ManagementSkills" value="3">
                                    3
                                </label>
                            </div>

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="col-6">
                                    <label asp-for="appraisalForm.ManagementSkillsAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.ManagementSkillsAppraisal" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.ManagementSkillsAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.ManagementSkillsAppraisal" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.ManagementSkillsAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.ManagementSkillsAppraisal" value="3">
                                        3
                                    </label>
                                </div>

                            }
                        </div>

                        <p>
                            <strong>Continuous Improvement Mind-set/ Striving for Excellence</strong><br />
                            Is the appraisees’ work or the delivery of his/her work well thought out and organized? Does he/she always look for a better way of
                            doing his/her job? Does his/her work require extensive reviews before it is acceptable?
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="appraisalForm.ContinuousImprovement" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.ContinuousImprovement" value="1">
                                    1
                                </label>
                                <label asp-for="appraisalForm.ContinuousImprovement" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.ContinuousImprovement" value="2">
                                    2
                                </label>
                                <label asp-for="appraisalForm.ContinuousImprovement" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.ContinuousImprovement" value="3">
                                    3
                                </label>
                            </div>

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="col-6">
                                    <label asp-for="appraisalForm.ContinuousImprovementAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.ContinuousImprovementAppraisal" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.ContinuousImprovementAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.ContinuousImprovementAppraisal" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.ContinuousImprovementAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.ContinuousImprovementAppraisal" value="3">
                                        3
                                    </label>
                                </div>

                            }
                        </div>

                        <p>
                            <strong>Deliver on Promises/Meeting Deadlines</strong><br />
                            Does the appraisee consistently deliver on agreed deadlines no matter the circumstance? Does he/she fulfill his/her promise/obligations
                            no matter the circumstance? Does he/she never apologize for breaking a promise/agreement?
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="appraisalForm.MeetingDeadlines" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.MeetingDeadlines" value="1">
                                    1
                                </label>
                                <label asp-for="appraisalForm.MeetingDeadlines" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.MeetingDeadlines" value="2">
                                    2
                                </label>
                                <label asp-for="appraisalForm.MeetingDeadlines" class="col-1">
                                    <input type="radio" asp-for="appraisalForm.MeetingDeadlines" value="3">
                                    3
                                </label>
                            </div>

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="col-6">
                                    <label asp-for="appraisalForm.MeetingDeadlinesAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.MeetingDeadlinesAppraisal" value="1">
                                        1
                                    </label>
                                    <label asp-for="appraisalForm.MeetingDeadlinesAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.MeetingDeadlinesAppraisal" value="2">
                                        2
                                    </label>
                                    <label asp-for="appraisalForm.MeetingDeadlinesAppraisal" class="col-1">
                                        <input type="radio" asp-for="appraisalForm.MeetingDeadlinesAppraisal" value="3">
                                        3
                                    </label>
                                </div>

                            }
                        </div>


                    </div>


                </div>
            </div>
        </div>

    </div>

    <br />
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
