﻿@model Novo.Models.Entity.Form


@{
    ViewData["Title"] = "Details";
}




<div class="col-md-9 m-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="staffs">Appraisal</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Questions Detail</li>
                </ol>
            </nav><br />


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row m-auto">
                <div class="form-group col-md-5">
                    <label asp-for="Question1" class="control-label"></label>
                    <input readonly asp-for="Question1" class="form-control" />
                    <span asp-validation-for="Question1" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight1" class="control-label"></label>
                    <input readonly asp-for="Weight1" class="form-control" />
                    <span asp-validation-for="Weight1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row m-auto">
                <div class="form-group col-md-5">
                    <label asp-for="Question2" class="control-label"></label>
                    <input readonly asp-for="Question2" class="form-control" />
                    <span asp-validation-for="Question2" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight2" class="control-label"></label>
                    <input readonly asp-for="Weight2" class="form-control" />
                    <span asp-validation-for="Weight2" class="text-danger"></span>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question3" class="control-label"></label>
                    <input readonly asp-for="Question3" class="form-control" />
                    <span asp-validation-for="Question3" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight3" class="control-label"></label>
                    <input readonly asp-for="Weight3" class="form-control" />
                    <span asp-validation-for="Weight3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question4" class="control-label"></label>
                    <input readonly asp-for="Question4" class="form-control" />
                    <span asp-validation-for="Question4" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight4" class="control-label"></label>
                    <input readonly asp-for="Weight4" class="form-control" />
                    <span asp-validation-for="Weight4" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question5" class="control-label"></label>
                    <input readonly asp-for="Question5" class="form-control" />
                    <span asp-validation-for="Question5" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight5" class="control-label"></label>
                    <input readonly asp-for="Weight5" class="form-control" />
                    <span asp-validation-for="Weight5" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question6" class="control-label"></label>
                    <input readonly asp-for="Question6" class="form-control" />
                    <span asp-validation-for="Question6" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight6" class="control-label"></label>
                    <input readonly asp-for="Weight6" class="form-control" />
                    <span asp-validation-for="Weight6" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question7" class="control-label"></label>
                    <input readonly asp-for="Question7" class="form-control" />
                    <span asp-validation-for="Question7" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight7" class="control-label"></label>
                    <input readonly asp-for="Weight7" class="form-control" />
                    <span asp-validation-for="Weight7" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question8" class="control-label"></label>
                    <input readonly asp-for="Question8" class="form-control" />
                    <span asp-validation-for="Question8" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight8" class="control-label"></label>
                    <input readonly asp-for="Weight8" class="form-control" />
                    <span asp-validation-for="Weight8" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question9" class="control-label"></label>
                    <input readonly asp-for="Question9" class="form-control" />
                    <span asp-validation-for="Question9" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight9" class="control-label"></label>
                    <input readonly asp-for="Weight9" class="form-control" />
                    <span asp-validation-for="Weight9" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question10" class="control-label"></label>
                    <input readonly asp-for="Question10" class="form-control" />
                    <span asp-validation-for="Question10" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight10" class="control-label"></label>
                    <input readonly asp-for="Weight10" class="form-control" />
                    <span asp-validation-for="Weight10" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question11" class="control-label"></label>
                    <input readonly asp-for="Question11" class="form-control" />
                    <span asp-validation-for="Question11" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight11" class="control-label"></label>
                    <input readonly asp-for="Weight11" class="form-control" />
                    <span asp-validation-for="Weight11" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question12" class="control-label"></label>
                    <input readonly asp-for="Question12" class="form-control" />
                    <span asp-validation-for="Question12" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight12" class="control-label"></label>
                    <input readonly asp-for="Weight12" class="form-control" />
                    <span asp-validation-for="Weight12" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question13" class="control-label"></label>
                    <input readonly asp-for="Question13" class="form-control" />
                    <span asp-validation-for="Question13" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight13" class="control-label"></label>
                    <input readonly asp-for="Weight13" class="form-control" />
                    <span asp-validation-for="Weight13" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question14" class="control-label"></label>
                    <input readonly asp-for="Question14" class="form-control" />
                    <span asp-validation-for="Question14" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight14" class="control-label"></label>
                    <input readonly asp-for="Weight14" class="form-control" />
                    <span asp-validation-for="Weight14" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Question15" class="control-label"></label>
                    <input readonly asp-for="Question15" class="form-control" />
                    <span asp-validation-for="Question15" class="text-danger"></span>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Weight15" class="control-label"></label>
                    <input readonly asp-for="Weight15" class="form-control" />
                    <span asp-validation-for="Weight15" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group">

                @*<button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>*@
                <a asp-action="staffs" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                <br />

            </div>
        </div>
    </div>
</div>



@*<div class="row">
    <div class="col-md-4">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" hidden>
            <label asp-for="EmployeeId" class="control-label"></label>
            <input readonly asp-for="EmployeeId" value="0" class="form-control" />
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <h2>Financial</h2>
        <div class="form-group">
            <label asp-for="Question1" class="control-label"></label>
            <input readonly asp-for="Question1" class="form-control" />
            <span asp-validation-for="Question1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question2" class="control-label"></label>
            <input readonly asp-for="Question2" class="form-control" />
            <span asp-validation-for="Question2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question3" class="control-label"></label>
            <input readonly asp-for="Question3" class="form-control" />
            <span asp-validation-for="Question3" class="text-danger"></span>
        </div>
        <h2>Customer Satisfaction</h2>
        <div class="form-group">
            <label asp-for="Question4" class="control-label"></label>
            <input readonly asp-for="Question4" class="form-control" />
            <span asp-validation-for="Question4" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question5" class="control-label"></label>
            <input readonly asp-for="Question5" class="form-control" />
            <span asp-validation-for="Question5" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question6" class="control-label"></label>
            <input readonly asp-for="Question6" class="form-control" />
            <span asp-validation-for="Question6" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question7" class="control-label"></label>
            <input readonly asp-for="Question7" class="form-control" />
            <span asp-validation-for="Question7" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question8" class="control-label"></label>
            <input readonly asp-for="Question8" class="form-control" />
            <span asp-validation-for="Question8" class="text-danger"></span>
        </div>
        <h2>Process</h2>
        <div class="form-group">
            <label asp-for="Question9" class="control-label"></label>
            <input readonly asp-for="Question9" class="form-control" />
            <span asp-validation-for="Question9" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question10" class="control-label"></label>
            <input readonly asp-for="Question10" class="form-control" />
            <span asp-validation-for="Question10" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question11" class="control-label"></label>
            <input readonly asp-for="Question11" class="form-control" />
            <span asp-validation-for="Question11" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question12" class="control-label"></label>
            <input readonly asp-for="Question12" class="form-control" />
            <span asp-validation-for="Question12" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question13" class="control-label"></label>
            <input readonly asp-for="Question13" class="form-control" />
            <span asp-validation-for="Question13" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question14" class="control-label"></label>
            <input readonly asp-for="Question14" class="form-control" />
            <span asp-validation-for="Question14" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Question15" class="control-label"></label>
            <input readonly asp-for="Question15" class="form-control" />
            <span asp-validation-for="Question15" class="text-danger"></span>
        </div>



        <div class="form-group">
            <a asp-action="staffs" class="btn btn-default">Back</a>
        </div>

    </div>
</div>*@