﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}




<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Vision</h6>
    </div>
    <div class="card-body">
        
        <p>Towards the advancenemt of individual, family, and community health for social development and economic growth in the african region.</p>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mission</h6>
    </div>
    <div class="card-body">
        <p>To develop, provide and manage sustainable health care programs, services and support systems through a dedicated team of professionals ensuring quality and outstanding client servicing.</p>
       
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Core Values</h6>
    </div>
    <div class="card-body">
        <p>Team work, Integrity, Passion to serve, Partnership and Creativity (TIPPC)</p>
       
    </div>
</div>
