﻿@model IEnumerable<Novo.Models.Entity.Request>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Request List";
    var user = await UserManager.GetUserAsync(User);
}





<div class="row m-auto">
    <div class="col-md-12 m-auto grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Task List</li>
                        <li class="breadcrumb-item" aria-current="page">Welcome @user.UserName</li>
                    </ol>
                </nav>
                <div class="row">

                   
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-md btn-outline-primary float-md-right" data-toggle="modal" onclick="RenderActions('/Requests/Create')" data-target="#modalCreate"> New Request</a><br /><br />
                        @if (Model.Any())

                        {
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>Rquest Name</th>
                                <th style="width: 500px;">Description</th>
                                <th style="width: 200px;">Assigned To</th>
                                <th>Unit-Head</th>
                                <th>Hr.</th>

                                <th class="text-warning" style="width: 100px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                    <tr>
                        <td>@item.RequestName</td>
                        <td>@item.RequestDescription</td>
                        <td>@item.ApplicationUser.UserName</td>
                        <td>
                            @if (item.isUnitHeadDisapprove == true)
                            {
                    <p>Disapproved</p> }
                else if (item.isUnitHeadApproved == true && item.isUnitHeadDisapprove == false)
                {
                    <p>Approved</p> }
                else
                {
                    <p>Awaiting Response</p>}
                        </td>
                        <td>
                            @if (item.isHrDisapprove == true)
                            {
                    <p>Disapproved</p> }
                else if (item.isHrApproved == true && item.isHrDisapprove == false)
                {
                    <p>Approved</p> }
                else
                {
                    <p>Awaiting Response</p>}
                        </td>
                        <td>
                            @if (item.isHrApproved == false && item.isUnitHeadApproved == false)
                            {
                    <ul class="list-unstyled">
                        <li class="nav-item dropdown no-arrow">
                            <button class="btn btn-outline-info dropdown-toggle small" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action<span class="caret"></span>
                            </button>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                @*<a class="dropdown-item" asp-action="DetailsUnit" asp-route-id="@item.Id">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Leave Handover Note
                </a>*@
                                <a class="dropdown-item" data-toggle="modal" onclick="RenderActions('/Requests/Edit/' + @item.Id)" data-target="#modalCreate">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>

                                    Edit
                                </a>
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Details
                </a>

                            </div>
                        </li>
                    </ul>}
                        </td>
                    </tr>
}
                        </tbody>
                    </table><br /> }
                                else
                                {

                    <h5 class="text-center text-info">You haven't created any Request, kindly check back later.....</h5>}
                    </div>
                   
                  



                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br /> 

<div id="modalCreate" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="OpenDialog" class="modal-body">
            </div>
        </div>
    </div>
</div>












