﻿@model Novo.Models.Entity.Qualification
@using Novo.Models.Entity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Edit Employee";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    var formtype = "hidden";
    var Input = "readonly";
}

<h2>Edit</h2>

<h4>Employee Contact</h4>
<hr />
@{
    var Fullname = user.FirstName + " " + user.LastName;
}
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">
                    <div class="adv-table">

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group" hidden>
                                        <input asp-for="EmployeeId" value="@user.Id" class="form-control" readonly>
                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Academic" class="control-label"></label>
                                        <select asp-for="Academic" class="form-control">
                                            <option></option>
                                            <option>Senior School Certificate Examination</option>
                                            <option>National Diploma</option>
                                            <option>Higher National Diploma</option>
                                            <option>Bachelor's Degree</option>
                                            <option>Postgraduate Diploma</option>
                                            <option>Master's Degree</option>
                                            <option>Master of Philosophy</option>
                                            <option>Doctor of Philosophy</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AcademicDescription" class="control-label"></label>
                                        <textarea asp-for="AcademicDescription" class="form-control"></textarea>
                                        <span asp-validation-for="AcademicDescription" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="Institution" class="control-label"></label>

                                        <select asp-for="Institution" class="form-control">
                                            <option></option>
                                            <option> Abia State University, Uturu</option>
                                            <option> Abubakar Tafawa Balewa University, Bauchi</option>
                                            <option> Achievers University, Owo</option>
                                            <option> Adamawa State University, Mubi</option>
                                            <option> Adekunle Ajasin University, Akungba Akoko</option>
                                            <option> Adeleke University, Ede</option>
                                            <option> Admiralty University of Nigeria, Ibusa</option>
                                            <option> Afe Babalola University, Ado-Ekiti</option>
                                            <option> African University of Science and Technology, Abuja</option>
                                            <option>Ahmadu Bello University, Zaria</option>
                                            <option> Ajayi Crowther University, Oyo Town</option>
                                            <option> Akwa Ibom State University, Ikot Akpad</option>
                                            <option> Alex Ekwueme Federal University, Ndufu-Alike</option>
                                            <option> Al-Hikmah University, Ilorin</option>
                                            <option> Al-Qalam University, Katsina</option>
                                            <option> Ambrose Alli University, Ekpoma</option>
                                            <option> American University of Nigeria, Yola</option>
                                            <option> Anchor University, Ayobo-Ipaja Lagos</option>
                                            <option> Arthur Jarvis University, Calabar</option>
                                            <option> Atiba University, Oyo Town</option>
                                            <option> Augustine University, Ilara</option>
                                            <option> Babcock University, Ilishan-Remo</option>
                                            <option> Bauchi State University, Gadau</option>
                                            <option> Bayero University, Kano</option>
                                            <option> Baze University, Abuja</option>
                                            <option> Bells University of Technology, Ota</option>
                                            <option> Benson Idahosa University, Benin City</option>
                                            <option> Benue State University, Makurdi</option>
                                            <option> Bingham University, Auta Balifi</option>
                                            <option> Borno State University, Maiduguri</option>
                                            <option> Bowen University, Iwo</option>
                                            <option> Caleb University, Imota</option>
                                            <option> Caritas University, Enugu</option>
                                            <option> Chrisland University, Abeokuta</option>
                                            <option> Christopher University, Mowe</option>
                                            <option> Chukwuemeka Odumegwu Ojukwu University, Uli</option>
                                            <option> Clifford University, Ihie</option>
                                            <option> Coal City University, Enugu</option>
                                            <option>Covenant University, Ota</option>
                                            <option> Crawford University, Faith City</option>
                                            <option> Crescent University, Abeokuta</option>
                                            <option> Cross River University of Technology, Calabar</option>
                                            <option> Crown Hill University, Ilorin</option>
                                            <option> Delta State University, Abraka</option>
                                            <option> Dominican University, Ibadan</option>
                                            <option> Eastern Palm University, Ogboko</option>
                                            <option> Ebonyi State University, Abakaliki</option>
                                            <option> Edo University, Iyamho</option>
                                            <option> Edwin Clark University, Kiagbodo</option>
                                            <option> Ekiti State University, Ado Ekiti</option>
                                            <option> Eko University of Medical and Health Sciences, Ijanikin</option>
                                            <option> Elizade University, Ilara-Mokin</option>
                                            <option> Enugu State University of Science and Technology, Enugu</option>
                                            <option> Evangel University, Akaeze Enugu</option>
                                            <option> Federal University of Agriculture, Abeokuta </option>
                                            <option> Federal University of Petroleum Resources, Effurun</option>
                                            <option>Federal University of Technology, Akure</option>
                                            <option> Federal University of Technology, Minna</option>
                                            <option> Federal University of Technology, Owerri</option>
                                            <option> Federal University, Birnin Kebbi</option>
                                            <option> Federal University, Dutse Dutse</option>
                                            <option> Federal University, Dutsin-Ma</option>
                                            <option> Federal University, Gashua </option>
                                            <option> Federal University, Gusau </option>
                                            <option> Federal University, Kashere</option>
                                            <option> Federal University, Lafia</option>
                                            <option> Federal University, Lokoja</option>
                                            <option> Federal University, Otuoke</option>
                                            <option> Federal University, Oye-Ekiti</option>
                                            <option> Federal University, Wukari</option>
                                            <option> Fountain University, Oshogbo</option>
                                            <option> Godfrey Okoye University, Ugwuomu-Nike</option>
                                            <option> Gombe State University, Gombe</option>
                                            <option> Gombe State University of Science and Technology, Kumo</option>
                                            <option> Gregory University, Uturu</option>
                                            <option> Hallmark University, Ijebu-Itele</option>
                                            <option> Hezekiah University, Umudi</option>
                                            <option> Ibrahim Badamasi Babangida University, Lapai</option>
                                            <option> Igbinedion University, Okada</option>
                                            <option> Ignatius Ajuru University of Education, Port Harcourt</option>
                                            <option> Imo State University, Owerri</option>
                                            <option> Joseph Ayo Babalola University, Ikeji-Arakeji</option>
                                            <option> Kaduna State University, Kaduna</option>
                                            <option> Kano University of Science and Technology, Wudil</option>
                                            <option> Kebbi State University of Science and Technology, Aliero</option>
                                            <option> Kings University, Odeomu</option>
                                            <option> Kogi State University, Anyigba</option>
                                            <option> Kola Daisi University, Ibadan</option>
                                            <option> Kwara State University, Ilorin</option>
                                            <option> Kwararafa University, Wukari</option>
                                            <option> Ladoke Akintola University of Technology, Ogbomoso</option>
                                            <option> Lagos State University, Ojo</option>
                                            <option> Landmark University, Omu-Aran</option>
                                            <option> Lead City University, Ibadan</option>
                                            <option> Legacy University, Okija</option>
                                            <option> Madonna University, Okija</option>
                                            <option> Mcpherson University, Seriki-Sotayo</option>
                                            <option> Michael and Cecilia Ibru University, Agbara-Otor</option>
                                            <option> Michael Okpara University of Agriculture, Umuahia</option>
                                            <option> Modibbo Adama University of Technology, Yola</option>
                                            <option> Moshood Abiola University of Science and Technology, Abeokuta</option>
                                            <option> Mountain Top University, Makogi Oba</option>
                                            <option> Nasarawa State University, Keffi</option>
                                            <option> Niger Delta University, Wilberforce Island</option>
                                            <option> Nigerian Maritime University, Okerenkoko Okerenghigho</option>
                                            <option> Nile University of Nigeria, Abuja</option>
                                            <option> Nnamdi Azikiwe University, Awka</option>
                                            <option> Novena University, Ogume</option>
                                            <option>Obafemi Awolowo University, Ile-Ife</option>
                                            <option> Obong University, Obong Ntak</option>
                                            <option> Oduduwa University, Ile Ife</option>
                                            <option> Olabisi Onabanjo University, Ago Iwoye</option>
                                            <option> Ondo State University of Science and Technology, Okitipupa</option>
                                            <option> Osun State University, Oshogbo</option>
                                            <option> PAMO University of Medical Sciences, Port-Harcourt</option>
                                            <option> Pan-Atlantic University, Lagos</option>
                                            <option> Paul University, Awka</option>
                                            <option> Plateau State University, Bokkos</option>
                                            <option> Precious Cornerstone University, Ibadan</option>
                                            <option> Redeemer's University, Ede</option>
                                            <option> Renaissance University, Enugu</option>
                                            <option> Rhema University, Aba</option>
                                            <option> Ritman University, Ikot Ekpene</option>
                                            <option> Rivers State University, Port Harcourt</option>
                                            <option> Salem University, Lokoja</option>
                                            <option> Samuel Adegboyega University, Ogwa</option>
                                            <option> Skyline University Nigeria, Kano</option>
                                            <option> Sokoto State University, Sokoto</option>
                                            <option> Southwestern University, Nigeria Okun Owa</option>
                                            <option> Spiritan University, Nneochi Umunneochi</option>
                                            <option> Sule Lamido University, Kafin Hausa</option>
                                            <option> Summit University Offa, Offa</option>
                                            <option> Tai Solarin University of Education, Ijebu-Ode</option>
                                            <option> Tansian University, Umunya</option>
                                            <option> Taraba State University, Jalingo</option>
                                            <option> The Technical University, Ibadan</option>
                                            <option> Umaru Musa Yar'Adua University, Katsina</option>
                                            <option>University of Abuja, Abuja</option>
                                            <option> University of Africa, Toru-Orua </option>
                                            <option> University of Agriculture, Makurdi</option>
                                            <option> University of Benin, Benin City</option>
                                            <option> University of Calabar, Calabar</option>
                                            <option>University of Ibadan, Ibadan</option>
                                            <option>University of Ilorin, Ilorin</option>
                                            <option> University of Jos, Jos</option>
                                            <option>University of Lagos, Lagos </option>
                                            <option> University of Maiduguri, Maiduguri</option>
                                            <option> University of Medical Sciences, Ondo City</option>
                                            <option> University of Mkar, Mkar</option>
                                            <option>University of Nigeria, Nsukka </option>
                                            <option> University of Port Harcourt, Port Harcourt</option>
                                            <option> University of Uyo, Uyo</option>
                                            <option> Usmanu Danfodio University, Sokoto</option>
                                            <option> Veritas University, Abuja</option>
                                            <option> Wellspring University, Benin City</option>
                                            <option> Wesley University of Science and Technology, Ondo City</option>
                                            <option> Western Delta University, Oghara</option>
                                            <option> Yobe State University, Damaturu</option>
                                            <option> Yusuf Maitama Sule University, Kano Kano</option>
                                            <option> Zamfara State University, Talata Mafara</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Duration" class="control-label"></label>
                                        <input asp-for="Duration" class="form-control" />
                                        <span asp-validation-for="Duration" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="StartDate" class="control-label"></label>
                                        <input asp-for="StartDate" id="TxtFrom" class="form-control" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="EndDate" class="control-label"></label>
                                        <input asp-for="EndDate" id="TxtTo" class="form-control" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group" hidden>
                                        <label asp-for="AddedBy" class="control-label"></label>
                                        <input asp-for="AddedBy" class="form-control" />
                                        <span asp-validation-for="AddedBy" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="UpdatedBy" class="control-label"></label>
                                        <input asp-for="UpdatedBy" value="@user.Email" class="form-control" />
                                        <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                                    </div>

                                    <div class="form-group" hidden>
                                        <label asp-for="UpdateDate" class="control-label"></label>
                                        <input asp-for="UpdateDate" value="@DateTime.Now" class="form-control" />
                                        <span asp-validation-for="UpdateDate" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-facebook" />
                                        <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4"></div>

                </div>

            </div>
        </div>
    </section>


</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function(){
  $("#TxtFrom").datepicker({
    numberOfMonths:1,
    //dateFormat:'DD,d MM, yy',
    dateFormat:'yy-mm-dd',
    onSelect:function(selectdate){
      var dt=new Date(selectdate);
      dt.setDate(dt.getDate()+1)
      $("#TxtTo").datepicker("option","minDate",dt)
    }
  });


   $("#TxtTo").datepicker({
    numberOfMonths:1,
    //dateFormat:'DD,d MM, yy',
       dateFormat:'yy-mm-dd',
    onSelect:function(selectdate){
      var dt=new Date(selectdate);
      dt.setDate(dt.getDate()-1)
      $("#TxtFrom").datepicker("option","maxDate",dt)
    }
  });
});

    </script>
}
