﻿@model IEnumerable<Novo.Models.Entity.Support>


@using Novo.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Request List";
    var user = await UserManager.GetUserAsync(User);
}

<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-12">
                                <br />
                                <h4 align="center">Request</h4>
                            </div>
                        </div>
                        <br />
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col col-md-6">
                                    <table>
                                        <tr>
                                            <td> <i class="fa fa-reorder fa-4x"></i></td>
                                            <td>
                                                <h4>  Request</h4>
                                                <p>&nbsp;&nbsp;&nbsp; Manage Request</p>
                                            </td>
                                        </tr>
                                    </table>


                                </div>
                                <div class="col col-md-6">


                                    <ol class="breadcrumb">
                                        <li><a href="#"><i class="fa fa-reorder"></i> Request</a></li>
                                        <li><a href="#">Index</a></li>

                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb">


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Add New Request</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group" hidden>

                                        <div class="col-sm-10">
                                            <label>Companies</label>
                                            <input type="hidden" name="CompanyId" value="@user.Id" class="form-control">

                                        </div>

                                    </div><br /><br />
                                    <div class="form-group">

                                        <div class="col-sm-10">
                                            <label>Request Type</label>
                                            @Html.DropDownList("TypeId", (IEnumerable<SelectListItem>)ViewBag.TypeId, null, new { @class = "form-control" })
                                        </div>

                                    </div><br /><br />

                                    <div class="form-group">
                                        <br />
                                        <div class="col-sm-10">
                                            <label>Request Description</label>
                                            <textarea name="Description" value="" placeholder="Request Description" class="form-control" required></textarea>

                                        </div>
                                    </div><br /><br /><br /><br />

                                    <div class="form-group">

                                        <div class="col-sm-10">
                                            <label>Suggested Date</label>
                                            <input type="text" name="RecommendedDate" value="" placeholder="Recommended Date" class="form-control" id="datepicker">
                                        </div>
                                    </div><br /><br /><br /><br />
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label>Suggested Time</label>
                                            <div class="input-group clockpicker">
                                                <input type="text" name="RecommendedTime" value="09:30" placeholder="Recommended Time" class="form-control" id="datepicker">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>

                                    </div><br /><br />
                                    <div class="form-group">
                                        <br />
                                        <div class="col-sm-10">
                                            <label>Venue</label>
                                            <textarea name="Details" value="" placeholder="Enter the Venue" class="form-control" required></textarea>

                                        </div>
                                    </div><br /><br /><br /><br />



                                    <div class="form-group">
                                        <br /><br />
                                        <input type="submit" value="Save" class="btn btn-facebook" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="row mb">
            <div class="col-lg-12">
                <a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add New Request</a>
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <p>
                            <br /><br />
                        </p>
                        <table class="table table-striped table-hover table-bordered table-responsive col-md-8" id="datatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Subject)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Content)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Response)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TreatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsDeleted)
                                    </th>
                                   
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Content)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Response)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TreatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsDeleted)
                                        </td>
                                       
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="true">
                                                    action <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a asp-action="Edit" asp-route-id="@item.Id" class=""><i class="fa fa-pencil" style="color:blue"></i>Update Reqest</a>
                                                    </li>
                                                    



                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                        </table>
                        <p>
                            <br /><br />
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>

