﻿@model Novo.Models.Entity.Qualifications
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    var photopath = "~/images/Cert/" + (Model.Image ?? "dummy.png");
 }

@*<section id="main-content">
        <section class="wrapper">
            <div class="row mb">
                <div class="col-lg-12">
                    <div class="content-panel border rounded">

                        <div class="adv-table">
                            <div class="row">
                                <div class="col-lg-12">
                                    <br />
                                    <h4 align="center">Employee Profile</h4>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col col-md-6">
                                        <table>
                                            <tr>
                                                <td> <i class="fa fa-user fa-4x"></i></td>
                                                <td>
                                                    <h4> Employee Profile</h4>
                                                    <p>&nbsp;&nbsp;&nbsp; View Employee Profile</p>
                                                </td>
                                            </tr>
                                        </table>


                                    </div>
                                    <div class="col col-md-6">


                                        <ol class="breadcrumb">
                                            <li><a href="#"><i class="fa fa-user"></i> Employee</a></li>
                                            <li><a href="#">Profile</a></li>

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @{
                var Code = Guid.NewGuid().ToString("n").Substring(0, 8);
                var user = await UserManager.GetUserAsync(User);

            }
            <hr />
            <div class="row mb">

                <div class="col-md-12">

                    <div class="content-panel border rounded">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="adv-table">
                            <h4>Qualification</h4>
                            <hr />
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayNameFor(model => model.Academic)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Academic)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.AcademicDescription)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.AcademicDescription)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Professional)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Professional)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ProfessionalDescription)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ProfessionalDescription)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Institution)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Institution)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Duration)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Duration)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.StartDate)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.EndDate)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.AddedBy)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.AddedBy)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedBy)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedBy)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CreateDate)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdateDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UpdateDate)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.IsDelete)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.IsDelete)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div>

                        <div class="col-md-5">


                            <br />
                            <br />
                            <br />


                        </div>


                    </div>
                </div>
            </div>



        </section>
    </section>*@






<h2 class="text-info">Qualification Details</h2>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Academic"></label>
            </div>
            <div class="col-8">
                <input asp-for="Academic" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AcademicDescription"></label>
            </div>
            <div class="col-8">
                <input asp-for="AcademicDescription" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Professional"></label>
            </div>
            <div class="col-8">
                <input asp-for="Professional" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ProfessionalDescription"></label>
            </div>
            <div class="col-8">
                <input asp-for="ProfessionalDescription" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Institution"></label>
            </div>
            <div class="col-8">
                <input asp-for="Institution" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Duration"></label>
            </div>
            <div class="col-8">
                <input asp-for="Duration" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="StartDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="StartDate" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EndDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="EndDate" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Image"></label>
            </div>
            <div class="col-8">
                <img src="@photopath" style="border-radius:5px; border:1px solid #bbb9b9; width:70%;" asp-append-version="true" />
            </div>
        </div>
    </div>
    <div class="col-1">

    </div>
    <div class="col-3">
        @*<img src="@Model.Image" style="border-radius:5px; border:1px solid #bbb9b9; width:100%;" />*@
    </div>


    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>
