﻿@model Novo.Models.ViewModels.QualificationEditVm
@using Novo.Models.Entity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{ ViewBag.Title = "Edit Employee";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    var formtype = "hidden";
    var Input = "readonly";

    var photopath = "~/images/Cert/" + (Model.ExistingPhotoPath ?? "dummy.png");
    }

<h2>Edit</h2>

<h4>Employee Contact</h4>
<hr />
@{ var Fullname = user.FirstName + " " + user.LastName; }
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">
                    <div class="adv-table">

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <form asp-action="Edit" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group" hidden>
                                        <input asp-for="EmployeeId" value="@user.Id" class="form-control" readonly>
                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Academic" class="control-label"></label>
                                        <select asp-for="Academic" class="form-control">
                                            <option></option>
                                            <option>Senior School Certificate Examination</option>
                                            <option>National Diploma</option>
                                            <option>Higher National Diploma</option>
                                            <option>Bachelor's Degree</option>
                                            <option>Postgraduate Diploma</option>
                                            <option>Master's Degree</option>
                                            <option>Master of Philosophy</option>
                                            <option>Doctor of Philosophy</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AcademicDescription" class="control-label"></label>
                                        <textarea asp-for="AcademicDescription" class="form-control"></textarea>
                                        <span asp-validation-for="AcademicDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Professional" class="control-label"></label>
                                        <input asp-for="Professional" id="TxtFrom" class="form-control" />
                                        <span asp-validation-for="Professional" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProfessionalDescription" class="control-label"></label>
                                        <input asp-for="ProfessionalDescription" id="TxtFrom" class="form-control" />
                                        <span asp-validation-for="ProfessionalDescription" class="text-danger"></span>
                                    </div>
                                  
                                    <div class="form-group">
                                        <label asp-for="Institution" class="control-label"></label>
                                        <input asp-for="Institution" class="form-control" readonly/>
                                        <span asp-validation-for="Institution" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Duration" class="control-label"></label>
                                        <input asp-for="Duration" class="form-control" />
                                        <span asp-validation-for="Duration" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="StartDate" class="control-label"></label>
                                        <input asp-for="StartDate" id="TxtFrom" class="form-control" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="EndDate" class="control-label"></label>
                                        <input asp-for="EndDate" id="TxtTo" class="form-control" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Image" class="control-label"></label>
                                        <input asp-for="Image" type="file" class="form-control" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                        <br />
                                        <img src="@photopath" style="border-radius:5px; border:1px solid #bbb9b9; width:70%;" asp-append-version="true" />
                                    </div>
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="ExistingPhotoPath" />
                                    <div class="form-group" hidden>
                                        <label asp-for="AddedBy" class="control-label"></label>
                                        <input asp-for="AddedBy" class="form-control" />
                                        <span asp-validation-for="AddedBy" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="UpdatedBy" class="control-label"></label>
                                        <input asp-for="UpdatedBy" value="@user.Email" class="form-control" />
                                        <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                                    </div>

                                    <div class="form-group" hidden>
                                        <label asp-for="UpdateDate" class="control-label"></label>
                                        <input asp-for="UpdateDate" value="@DateTime.Now" class="form-control" />
                                        <span asp-validation-for="UpdateDate" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-facebook" />
                                        <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4"></div>

                </div>

            </div>
        </div>
    </section>


</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>$(function(){
  $("#TxtFrom").datepicker({
    numberOfMonths:1,
    //dateFormat:'DD,d MM, yy',
    dateFormat:'yy-mm-dd',
    onSelect:function(selectdate){
      var dt=new Date(selectdate);
      dt.setDate(dt.getDate()+1)
      $("#TxtTo").datepicker("option","minDate",dt)
    }
  });


   $("#TxtTo").datepicker({
    numberOfMonths:1,
    //dateFormat:'DD,d MM, yy',
       dateFormat:'yy-mm-dd',
    onSelect:function(selectdate){
      var dt=new Date(selectdate);
      dt.setDate(dt.getDate()-1)
      $("#TxtFrom").datepicker("option","maxDate",dt)
    }
  });
});</script>
}
